body {
  width:90%;
}

th {
  vertical-align:top;
}

td { 
  text-align: center;
    padding:5px;
    vertical-align:center;
}
 
td:nth-child(2){
  text-align: left;
}

th {
  text-align:center;
}

ul {
   margin:0;
}
